* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.r-container {
  width: 1280px;
  margin: auto;
}
.title {
  font-size: 3.5rem;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurants {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  /* border: 1px solid black; */
}
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 16px;
  width: 200px;
  height: 240px;
}
.restaurant img {
  width: 50%;
  margin-bottom: 24px;
}
